@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #243e63;
}

/*

NAV

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav__link {
    margin-right: 20px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: .6px;
    padding-bottom: 2px;
}

.nav__link--button {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #5415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.container {
    padding: 96px 0;
}

/*

LANDING

*/

header.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    margin: 32px 0;
}

.header__description {
    width: 40%;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    margin: 32px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.header__email {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb (36, 62, 99);
    font-size: 16 px;
    font-weight: 500;
    position: absolute;
    z-index: 1;

}

.header__email--button {
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

